.episode-page-container {
  width: 100%;
  max-width: 900px;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  animation: 750ms ease-in-out 0s 1 animatePageIn;
}

.episode-carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin: 0 auto;
  transition: all 1s ease-in-out;
}

.episode-carousel .episode-wrapper {
  width: 12%;
  padding: 8px 8px 0;
}

.episode-container.active {
  border: 2px solid $primary-orange;
}

.episode-video {
  width: 100%;
  min-width: 450px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
}

.episode-video:focus {
  outline: 0;
}

.episode-header {
  font-size: 1.2em;
  padding-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anime-link {
  position: relative;
  color: #38a3d9;
}

.anime-link:after {
  bottom: -1px;
  background-color: #38a3d9;
}

.episode-carousel .episode-container:hover {
  transform: scale(1.1);
}
